body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user_info {
    width: 400px;
    height: 600px;
    background: skyblue;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: blue;
}

.post_btn {
    width: 90%;
    background: darkorange;
    margin: 5px;
}